body {
    margin: 0;
    font-family: roboto, arial, helvetica;
    color:rgb(43, 43, 43);
}

#content {
    width: clamp(0px, 80%, 1250px);
    margin: 0 auto;
}

header{
    background: #474747;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: clamp(50px, 5vw, 70px);
    z-index: 2;
    margin-left: clamp(5px, 1.5vw, 30px);
}

.top-nav {
    width: 90%;
    text-align: right;
    color: white;
    text-decoration: none;
}

.top-nav a{
    border: 1px solid transparent;
    text-align: center;
    margin: clamp(5px, 1vw, 18px);
    font-size: clamp(10px, 0.8vw, 14px);
    font-weight: 500; 
    padding: 7px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: border 0.3s ease;
}

.top-nav a:hover {
    cursor: pointer;
    border: 1px solid white;
}

.home {
    background-image: url("./images/Background-Coimbra.png");
    width: 100%;
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: clamp(250px, 45vw, 750px);
    height: clamp(88.8px, 16vw, 266.6px);
    background: rgba(218, 218, 218, 0.87);
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-header p {
    font-size: clamp(18px, 3vw, 3vw);
    font-weight: 300;
    color: #4D9737;
    margin: 0;
}

.header1 span {
    display: inline-block;
    background: #4D9737;
    width: clamp(68px, 15vw, 15vw);
    height: 0.12vw;
    margin: 0;
}

.div-header h1 {
    font-size: clamp(32px, 5.7vw, 5.7vw);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header2 span {
    display: inline-block;
    background: #4D9737;
    width: clamp(185px, 35vw, 35vw);
    height: 0.15625vw;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

span {
    margin: 3px auto;
    display: block;
    background: #4D9737;
    width: 200px;
    height: 2px;
}

.EBEC-project > p {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: center;
    margin: 30px 0px;
}

.cs_icon, .td_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7em;
    
}

.cs_icon img, .td_icon img {
    height: 3em;
    margin: 1em;
}

.cs-td {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em auto;
    width: 100%;
}

.case-study, .team-design, .case-study>img, .team-design>img{
    width: 500px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.cs-td p{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.EBEC-project span:nth-child(2) {
    width: 2px;
    height: 560px;
}

.EBEC-trajectory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 100px;
    flex-wrap: wrap;
}

.EBEC-trajectory img {
    min-width: 250px;
}

.EBEC-trajectory p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    width: 60%;
}

.local-rounds span {
    width: 220px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(15px, 1.5vw, 50px) 0px;
    height: clamp(400px, 45vw, 650px);
}

.map picture {
    height: 100%;
}

.map img {
    height: 100%;
    margin-left: 10px;
}

.map ul {
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72%;
    margin-bottom: 4.6vw;
}

.map ul li a{
    text-decoration: none;
    display: inline-block;
    color:rgb(43, 43, 43);
    padding: 3px;
    font-size: clamp(12px, 1.5vw, 24px);
    font-weight: 500;
    transition: linear color 0.1s;
}

.map ul li a:hover {
    color:  #4D9737;
}

.map ul li .porto {
    bottom: 158px;
}

.map ul li .aveiro {
    bottom: 89px;
}

.map ul li .coimbra {
    bottom: 13px;
}

.map ul li .lisboa {
    top: 36px;
}

.map ul li .almada {
    top: 105px;
}

.schedule_survival-guide span {
    width: 480px;
}

.schedule_survival-guide{
    text-align: center;
}

.schedule_survival-guide p {
    font-size: 1.2em;
    margin: 30px 0px;
    font-weight: 400;
    line-height: 1.5;
}

.schedule_survival-guide a {
    border: 2px solid transparent;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 0 auto 50px;
    width: clamp(180px, 30%, 30%);
    background-color:rgb(80, 80, 80);
    color: white;
    border-radius: 4px;
    transition: background-color linear 0.5s;
    transition: color 0.3s ease-in-out;
}

.schedule_survival-guide a:hover {
    color:rgb(80, 80, 80);
    background-color: transparent;
    border: 2px solid rgb(80, 80, 80);
}

.schedule_survival-guide img {
    margin-top: 30px;
    height: 600px;
}

.location span {
    width: 180px;
}

.location iframe {
    margin: 60px 9.5%;
    left: 200px;
    width: 80%;
}

.participants span{
    width: 200px;
}

.participants .cs-td span {
    margin: 40px 0;
    width: 2px;
    height: 670px;
}

.lives span{
    width: 310px;
}

.lives .lives-div{
    height: 500px;
    background-color:rgb(43, 43, 43);
    width: 80%;
    margin: 50px auto;
}

.partners span {
    width: 140px;
}

.partners-div {
    height: 500px;
    background-color:rgb(43, 43, 43);
    width: 80%;
    margin: 50px auto;
}

.universities  span{
    width: 370px;
}

.universities a img {
    height: clamp(50px, 5vw, 90px);
    margin: 20px;
    min-width: 10px;
}

.universities-div {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.organizers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.span-organizers {
    width: 180px;
}

.organizer img {
    height: 20px;
}

.organizer {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0;
    align-items: center;
    text-align: center;
}

.organizer h4 {
    font-size: 1.2em;
    font-weight: 500;
}

.organizer h5 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 15px 0 0 5px;
}

.organizer > img {
    padding: 120px;
    border: solid 1px rgb(65, 65, 65);
    border-radius: 50%;
}

.organizer .email {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    width: 200px;
}

.organizer .ig-lkd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    margin: 5px;
}

.topic-responsible {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-responsible h4 {
    font-size: 1.2em;
    font-weight: 500;
}

#topic-responsible2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

footer {
    display: flex;
    background:rgb(43, 43, 43);
    width: 100%;
    height: 100px;
    color: rgb(219, 219, 219);
}

footer p {
    margin: auto auto;
}


@media (max-width: 1270px) {
    .EBEC-project span:nth-child(2){
        position:absolute;
        width: 0;
        height: 0;
    }

    .EBEC-trajectory {
        text-align: center;
        flex-direction: column;
    }


    .EBEC-trajectory p {
        margin-bottom: 5vw;
        width: 85%;
    }

    .participants span:nth-child(2){
        width: 0;
        height: 0;
        position: absolute;
    }
}

@media (max-width: 930px) {
    .top-nav a {
        margin: 5px;
    }

    .map ul {
        margin-bottom: 50px;
    }
}

@media (max-width: 835px) {
    .top-nav a {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .case-study>img, .team-design>img {
        width: 80vw;
    }

    .EBEC-trajectory img {
        width: 60vw;
    }

    .schedule_survival-guide span {
        width: 260px;
    }

    .schedule_survival-guide img {
        height: 100vw;
    }

    .location iframe{
        height: 100vw;
    }
}

@media (max-width: 470px) {
    .universities span {
        width: 210px;
    }
}

@media (max-width: 405px) {
    .lives span {
        width: 240px;
    }
}