body {
    margin: 0;
    font-family: roboto, arial, helvetica;
    font-size: 16px;
    color:rgb(43, 43, 43);
}



header{
    background: #474747;
    position: absolute;
    width: 100%;
    height: 100px;
}

header img {
    position: relative;
    height: 80%;
    left: 50px;
    top: 10px;
}

.top-nav {
    position: relative;
    width: 100%;
    bottom: 45%;
    text-align: right;
    height: 50%;
    color: white;
    text-decoration: none;
}

.top-nav a{
    text-align: center;
    margin: 20px;
    font-weight: 500; 
    padding: 7px;
    border-radius: 4px;
    transition: color 0.2s ease;
}

.top-nav a:hover {
    cursor: pointer;
    color: #4D9737;
}

.home {
    background-image: url("./images/Background-Coimbra.png");
    height: 920px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 30px;
}

.home header+div {
    width: 800px;
    height: 300px;
    position: relative;
    top: 300px;
    background: rgba(255, 255, 255, 0.87);
    position:absolute;
}

.home header+div p {
    position: relative;
    font-size: 3.5em;
    font-weight: 200;
    bottom: 35px;
    margin-left: 10px;
    color: #4D9737;
}

.home header+div h1 {
    position: relative;
    bottom: 180px;
    font-size: 6em;
    font-weight: 400;
    text-align: center;
    
    text-transform: uppercase;
}

.home header+div p:last-child  {
    position: relative;
    bottom: 325px;
    left: 650px;
}

.line {
    display: inline-block;
    position: relative;
    background: #4D9737;
    bottom: 134px;
    width: 250px;
    height: 2.5px;
    left: 530px;
}

.line2 {
    display: inline-block;
    position: relative;
    background: #4D9737;
    left: 10px;
    bottom: 230px;
    width: 630px;
    height: 2.5px;
}

h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

span {
    margin: 0 auto;
    display: block;
    background: #4D9737;
    width: 300px;
    height: 2px;
}

.EBEC-project > p {
    font-size: 1.5em;
    line-height: 1.8;
    text-align: center;
    margin: 30px 150px;
}

.cs-td {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em auto;
    width: 80%;
}

.case-study, .team-design {
    width: 40%;
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.cs_icon, .td_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cs_icon img, .td_icon img {
    height: 3em;
    margin: 1.5em;
}

.foto-cs{
    width: 600px;
}

.foto-td {
    width: 630px;
}

.cs-td p{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
}

.EBEC-project span:nth-child(2) {
    width: 2px;
    height: 670px;
}

.EBEC-trajectory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 100px;;
    flex-wrap: wrap;
}

.EBEC-trajectory p {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
    width: 70%;
}

.local-rounds span {
    width: 330px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;

}

.map img {
    height: 700px;
    margin: 50px 10px 50px 270px;
}

.map ul {
    list-style: none;
    position: absolute;
}

.map ul li a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color:rgb(43, 43, 43);
    padding: 3px;
    font-size: 1.5em;
    font-weight: 500;
    transition: linear color 0.1s;
}

.map ul li a:hover {
    color:  #4D9737;
}

.map ul li .porto {
    bottom: 193px;
    right: 305px; 
}

.map ul li .aveiro {
    bottom: 108px;
    right: 315px;
}

.map ul li .coimbra {
    bottom: 15px;
    right: 335px;
}

.map ul li .lisboa {
    top: 50px;
    right: 315px
}

.map ul li .almada {
    top: 135px;
    right: 325px;
}

